<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    

    <title>SmartCheck - View Branch Data</title>
</head>
<body class="bg-white text-gray-700">
    <!-- <div class="text-4xl text-center">PixelHR - Dashboard</div> -->

    <div class="grid grid-cols-7">
        <div class="border h-screen">
            
            <div class="flex py-2 mx-10"><img class="w-10 h-10 rounded-full" src="{% static 'attendapp\setup\SmartCheck-logo.jpeg' %}" alt="logo">
                <div class="text-xl font-bold pt-2">SmartCheck</div>
            </div>


            <div class="mx-4 px-2">
                <div class="text-xl border my-2 rounded-md px-2 p-2 hover:bg-indigo-600 hover:text-white">
                    <a href="/dashboard"><i class="fa-solid fa-table mr-2"></i> Branch</a>
                </div>
                
                <div class="text-xl border my-2 rounded-md px-2 p-2 hover:bg-indigo-600 hover:text-white">
                    <a href="/todayattendence">
                        <i class="fa-solid fa-user mr-2"></i> Attendence</a>
                </div>

                <div class="text-xl border my-2 rounded-md px-2 p-2 hover:bg-indigo-600 hover:text-white">
                    <a href="/addstudent">
                        <i class="fa-solid fa-user-circle mr-2"></i> Add Student</a>
                </div>
                    
                <!-- <div class="text-xl border my-2 rounded-md px-2 p-2 hover:bg-indigo-600 hover:text-white">
                    <a href="/leavemanage/?view=all"><i class="fa-solid fa-gear mr-2"></i> Leaves</a>
                </div> -->
                
                <!-- <div class="text-xl border my-2 rounded-md px-2 p-2 hover:bg-indigo-600 hover:text-white">
                    <a href="/reimbusmentmanage">
                        <i class="fa-solid fa-user mr-2"></i>Reimbusment</a>   
                </div>
                
                <div class="text-xl border my-2 rounded-md px-2 p-2 hover:bg-indigo-600 hover:text-white">
                    <a href="/hrbot">
                        <i class="fa-solid fa-robot mr-2"></i>Bot</a>   
                </div> -->


                <!-- <div class="text-xl border my-2 rounded-md px-2 p-2 hover:bg-indigo-600 hover:text-white"><i class="fa-solid fa-chart-simple mr-2"></i> Chart</div> -->
            </div>
        </div>

        


        <div class="col-span-6 border">
            
            <!-- nav bar -->
            <div class="border grid grid-cols-9 py-2">
                <div class="col-span-6 ml-10 font-bold text-2xl">Branch - {{ capbranch }}</div>
                <div class="hidden col-span-2 mx-6 text-right text-xl">
                    <i class="fa-solid fa-bell border rounded-full p-2 hover:bg-indigo-700 hover:text-white"></i>
                    <i class="fa-solid fa-envelope border rounded-full p-2 hover:bg-indigo-700 hover:text-white"></i>
                </div>
                <div></div>
                <div></div>
                <div>
                    <a href="{% url 'user_logout' %}" class="grid grid-cols-3">
                        <div class="text-sm col-span-2 my-auto font-bold text-center">{{ user.username|title }}</div>
                        <div><img class="w-10 h-10 rounded-full border border-2" 
                            src="{% static 'attendapp\setup\boy avatar.png' %}" alt=""></div>
                    </a>
                </div>
            </div>

            <div class="px-10">
                {% if unique_years %}
                <div class="text-center font-bold mt-2">Year</div>
                <div class="grid grid-cols-4 gap-2 mt-2 border p-2">
                    {% for year in unique_years %}
                    <p class="border rounded-md text-center shadow-md hover:bg-gray-100">{{ year }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            
            <!-- Dashboard Area -->
            <div class="p-10">
                
                <!-- section 1 -->
                {% if all_students %}
                <div class="grid grid-cols-4 gap-4">
                    {% for item in all_students %}
                    <div class="p-6 border border-4 rounded-md text-center hover:shadow hover:shadow-md hover:shadow-indigo-300">
                        <a href="/viewstud/?rollno={{ item.rollno }}">
                            <img src="{% static item.imgpath %}" alt="Avatar" class="rounded-md shadow-xl mb-4 mx-auto h-40">
                            <div class="text-xl font-bold">{{ item.name }}</div>
                            <div class="text-md">Roll:{{ item.rollno }} ___  Year:{{ item.year }}</div>

                            <!-- Grades -->
                            <div class="border p-2">
                                <div>Year-1 <b class="border rounded-md bg-gray-100 px-1">CGPA:{{ item.y1cgpa }}</b> <b class="border rounded-md bg-gray-100 px-1">SGPA:{{ item.y1sgpa }}</b></div>
                                <div>Year-2 <b class="border rounded-md bg-gray-100 px-1">CGPA:{{ item.y2cgpa }}</b> <b class="border rounded-md bg-gray-100 px-1">SGPA:{{ item.y2sgpa }}</b></div>
                                <div>Year-3 <b class="border rounded-md bg-gray-100 px-1">CGPA:{{ item.y3cgpa }}</b> <b class="border rounded-md bg-gray-100 px-1">SGPA:{{ item.y3sgpa }}</b></div>
                                <div>Year-4 <b class="border rounded-md bg-gray-100 px-1">CGPA:{{ item.y4cgpa }}</b> <b class="border rounded-md bg-gray-100 px-1">SGPA:{{ item.y4sgpa }}</b></div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    
                    
                </div>
                {% endif %}




            </div>

        </div>
    </div>

 

    

</body>
</html>